@CHARSET "ISO-8859-1";
.form-container {
   border: 2px solid #2b2825;
   background: #f5f4e9;
   background: -webkit-gradient(linear, left top, left bottom, from(#e6ddda), to(#f5f4e9));
   background: -webkit-linear-gradient(top, #e6ddda, #f5f4e9);
   background: -moz-linear-gradient(top, #e6ddda, #f5f4e9);
   background: -ms-linear-gradient(top, #e6ddda, #f5f4e9);
   background: -o-linear-gradient(top, #e6ddda, #f5f4e9);
   background-image: -ms-linear-gradient(top, #e6ddda 0%, #f5f4e9 100%);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:735px;
   height: 477px;
  }
.form-field {
   border: 1px solid #5c370e;
   background: #e6ded4;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 2px;
   color: #0a0601;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
  
   width:280px;
   }
.form-field:focus {
   background: #f5f2f5;
   color: #170f07;
   }
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #080400;
   text-shadow: #fdf2e4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:center;
   }
.submit-button {
   border: 1px solid #070f1a;
   background: #4771d9;
   background: -webkit-gradient(linear, left top, left bottom, from(#4580f7), to(#4771d9));
   background: -webkit-linear-gradient(top, #4580f7, #4771d9);
   background: -moz-linear-gradient(top, #4580f7, #4771d9);
   background: -ms-linear-gradient(top, #4580f7, #4771d9);
   background: -o-linear-gradient(top, #4580f7, #4771d9);
   background-image: -ms-linear-gradient(top, #4580f7 0%, #4771d9 100%);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #697896 0 1px 0;
   color: #000000;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #000000;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#ced6c7), to(#6aa436));
   background: -webkit-linear-gradient(top, #ced6c7, #8dc059);
   background: -moz-linear-gradient(top, #ced6c7, #8dc059);
   background: -ms-linear-gradient(top, #ced6c7, #8dc059);
   background: -o-linear-gradient(top, #ced6c7, #8dc059);
   background-image: -ms-linear-gradient(top, #ced6c7 0%, #8dc059 100%);
   color: #fff;
   }